body {
    background-color: #333;
    color: #FFD700;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
    
}

.slogan {
    margin-bottom: 40px;
    font-size: 24px;
}

.btn-warning {
    background-color: #FFD700;
    border-color: #FFD700;
    color: #000;
    transition: transform 0.2s;
}

.btn-warning:hover {
    background-color: #e5c100;
    transform: scale(1.05);
}
